<h1 class="text-center">Your cocktail list</h1>

<div class="text-center padded">
  <%= link_to "Create a cocktail", new_cocktail_path, class: 'btn btn-primary' %>
</div>


<div class="container">
  <div class="row">

    <% @cocktails.each do |cocktail| %>

    <div class="col-xs-12 col-sm-4">
      <%=  link_to cocktail_path(cocktail), class: 'show-card-link' do %>
          <div class="card flex-cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)), url('<%= cl_image_path cocktail.photo if cocktail.photo %>');" >

            <div>
              <h4><%= cocktail.name %></h4>
            </div>

          </div>
      <% end %>
      </div>


    <% end %>

  </div>
</div>
