<h1 class="text-center">Your cocktail list</h1>

<div class="text-center padded">
  <%= link_to "Create a cocktail", new_cocktail_path, class: 'btn btn-primary' %>
</div>


<div class="container">
  <div class="row">

    <% @cocktails.each do |cocktail| %>

      <%=  link_to "here", cocktail_path(cocktail) %>
        <div class="col-xs-12 col-sm-4">
          <div class="card flex-cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.9)), url('<%= cl_image_path cocktail.photo, height: 200, width: 250, crop: :fit %>');" >

            <div>
              <h4 style="font-size: 60px;"><%= cocktail.name %></h4>
            </div>

          </div>
        </div>


    <% end %>

  </div>
</div>
