.banner {
  margin-top: 1vw;
  margin-left: 0vw;
  margin-right: 0vw;
  display: flex;
  align-items: center;
}

.avatar_profil_picture {
  margin-left: 3vw;
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  box-shadow: -1px 1px 1px #4D4C4E;
}
h1 {
  // flex: auto;
  width: 80%;
  letter-spacing: 8px;
  color: #303732;
  opacity: 0.9;
  font-weight: lighter;
  margin-bottom: 30px;

}

.cocktail-creation-button {
  box-shadow: 1px 1px 5px #37371C;
  opacity: 0.9;
}

.banner-xs-cocktails {
  padding: 0px;
  & h4 {
    margin: 0px;
  }
}
.cocktail-title h4 {
    font-size: 8vw;

}

.log_out {
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 20px;
}

#cocktail-creation-home {
  margin-bottom: 30px;
}

@media(min-width: 768px) {
  #cocktail-creation-home {
    margin-bottom: 20px;
  }
  .flex-cocktail-card {
    margin: 8px;
    overflow: hidden;
  }
  .cocktail-title h4 {
    font-size: 32px;
  }
  .flex-cocktail-card {

  }
}

