h1 {
  letter-spacing: 8px;
  color: #303732;
  opacity: 0.9;
  font-weight: lighter;
}

.banner-xs-cocktails {
  padding: 0px;
  & h4 {
    margin: 0px;
  }
}
.cocktail-title h4 {
    font-size: 8vw;

}


@media(min-width: 768px) {
  .flex-cocktail-card {
    margin: 8px;
    overflow: hidden;
  }
  .cocktail-title h4 {
    font-size: 32px;
  }
  .flex-cocktail-card {

  }
}

