h1 {
  letter-spacing: 8px;
  color: #303732;
  opacity: 0.9;
  font-weight: lighter;
  margin-bottom: 30px;
}

.cocktail-creation-button {
  box-shadow: 1px 1px 5px #37371C;
  opacity: 0.9;
}

.banner-xs-cocktails {
  padding: 0px;
  & h4 {
    margin: 0px;
  }
}
.cocktail-title h4 {
    font-size: 8vw;

}

#cocktail-creation-home {
  margin-bottom: 30px;
}

@media(min-width: 768px) {
  #cocktail-creation-home {
    margin-bottom: 20px;
  }
  .flex-cocktail-card {
    margin: 8px;
    overflow: hidden;
  }
  .cocktail-title h4 {
    font-size: 32px;
  }
  .flex-cocktail-card {

  }
}

