
.banner-xs-cocktails {
  padding: 0px;
  & h4 {
    margin: 0px;
  }
}
.cocktail-title h4 {
    font-size: 8vw;

  }


@media(min-width: 768px) {
  .flex-cocktail-card {
    margin: 8px;
    overflow: hidden;
  }
  .cocktail-title h4 {
    font-size: 32px;
  }
}
