.mobile-header {
  height: 40vh;
  box-shadow: 0px 2px 4px #303732;
  background-size: cover;
  background-position: center;
  display:flex;
  justify-content: space-around;
  align-items: center;
  & h1 {
    color: white;
    opacity: 0.75;
    font-size: 8vw;
    font-weight: normal;
    width: 80vw;
    display: flex;
    justify-content: center;
  }
}

.other-header {
  display: none;
}

.side-image-sm {
    display: none;
}

.avatar-ingredient {
  border-radius: 50%;
}

.boxing-list-ingredients {
  margin-top: 45px;
  border: solid;
  border-color: #303732;
  border-radius: 4px;
  opacity: 0.85;
  padding: 18px 25px;
  height: 50vh;
  font-size: 40px;
  overflow: scroll;
  box-shadow: 1px 2px 3px #303732;
}

.flex-arrow-down {
  display: flex;
  justify-content: space-around;
}

.formulaire{
  opacity: 0.8;
  font-opacity: 0.9;
  padding-left: 22px;
  padding-right: 22px;
}

.formulaire p {
  font-size: 14.5px;
}
.grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 50% 50%;  //repeat(2, 1fr) doesn't work
  grid-template-rows: 100%;

}

.form-group.select.required.dose_ingredient {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.form-group.attachinary.optional.dose_photo_ingredient {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  padding-left: 15px;
}

#dose_photo_ingredient {
  padding-left: 37px;
  margin-bottom: 10px;
  color: rgba(0,0,0,0);  // youhou !! How is that !  after trying a thousand other trics
}

.form-group.string.required.dose_description {
  margin-bottom: 30px;
}

hr {
  box-shadow: 0px 1px 1px #303732;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.create-dose-button {
  box-shadow: 1px 1px 2px #5BC0DE;
}


@media(min-width: 768px) {

  .mobile-header {
  display: none;
  }
  .other-header {
    display: block;
    & h1 {
      letter-spacing: 6px;
      color: #303732;
      opacity: 0.75;
    }
  }
  .flex-display-cocktail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 320px;
    margin: 15px;
  }
  .boxing-list-ingredients {
  margin-top: 15px;
  border: none;
  padding: 6px 10px 15px 0px;
  height: 50vh;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 250px;
  overflow: scroll;
  }

  .side-image-sm {
    display: block;
    width: 55%;
    height: 280px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    box-shadow: 1px 1px 3px #303732;
    opacity: 0.85;
  }
  .formulaire {
    margin: 0px 60px;
    padding: 15px 25px;
    font-size: 13px;
    border: dotted;
    height: 315px;
    border-radius: 5px;
  }
  hr {
    margin: 8px 0px;
  }
}

@media(min-width: 992px) {
  .boxing-list-ingredients {
    padding-top: 44px;
  }
}

@media(max-width: 768px) {
  .boxing-list-ingredients {
    opacity: 0.72;
    font-size: 18px;
    height: 45vh;
  }
}

