.background_body {
  // background-image: linear-gradient(rgba(0,0,0,0.1)), url(' <%= cl_image_path("yqpjk47c78g7jxn1eitb.jpg") %> ');
  background: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
//url("background_body.jpeg")
.body_font {
  color: white;
}
